# Домашнее задание «Функции и работа с данными»
Важно! При копировании юпитер ноутбука изменяет кавычки ’ на ` , что может способствовать ошибки в коде.   
В данной ситуации необходимо их просто заменить.

### Задание 1
#### Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [19]:
df1 = pd.read_csv('ml-latest-small/ratings.csv')
df1.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [34]:
# Функция для столбца:
def ratings (statistics):
    if statistics <= 2.0:
        return 'Низкий рейтинг'
    elif statistics <= 4.0:
        return 'Средний рейтинг'
    else:
        return 'Высокий рейтинг'

In [35]:
df1['class'] = df1['rating'].apply(ratings)
df1.head()

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  Средний рейтинг
1       1        3     4.0  964981247  Средний рейтинг
2       1        6     4.0  964982224  Средний рейтинг
3       1       47     5.0  964983815  Высокий рейтинг
4       1       50     5.0  964982931  Высокий рейтинг

In [36]:
# Функция для датафрейма:
def ratings_df (statistics_df):
    if statistics_df['rating'] <= 2.0:
        return 'Низкий рейтинг'
    elif statistics_df['rating'] <= 4.0:
        return 'Средний рейтинг'
    else:
        return 'Высокий рейтинг'

In [37]:
df1['class'] = df1.apply(ratings_df, axis = 1)
df1.head()

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  Средний рейтинг
1       1        3     4.0  964981247  Средний рейтинг
2       1        6     4.0  964982224  Средний рейтинг
3       1       47     5.0  964983815  Высокий рейтинг
4       1       50     5.0  964982931  Высокий рейтинг

### Задание 2
Используем файл keywords.csv.
Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
 
 }

Результат классификации запишите в отдельный столбец region.

In [82]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

In [83]:
# Значения в словаре были списками, то есть в ключи надо поставить элементы списка, не полностью список (коммент. для себя):
rev_dict = dict((v, k) for k, vals in geo_data.items() for v in vals)
print(rev_dict)

{'москва': 'Центр', 'тула': 'Центр', 'ярославль': 'Центр', 'петербург': 'Северо-Запад', 'псков': 'Северо-Запад', 'мурманск': 'Северо-Запад', 'владивосток': 'Дальний Восток', 'сахалин': 'Дальний Восток', 'хабаровск': 'Дальний Восток'}

In [84]:
df2 = pd.read_csv('ml-latest-small/keywords.csv')
df2.tail()

                       keyword  shows
99995   эльдорадо старый оскол   3705
99996      frigate для firefox   3630
99997                   укрсиб   3630
99998  погода в ялте на неделю   3688
99999                     ггму   3630

In [85]:
def geo(dataframe):
    words = dataframe['keyword'].split(' ')
    for word in words:
        if word in rev_dict.keys():
            return rev_dict[word]
    else:
        return 'Undefined'

In [86]:
df2['region'] = df2.apply(geo, axis = 1)
row = df2.iloc[368:373]
print (row)

                      keyword   shows        region
368        футбол на куличках  433116     Undefined
369              порно инцест  504714     Undefined
370  авито ру санкт петербург  425134  Северо-Запад
371               игры онлайн  588264     Undefined
372     авито нижний новгород  421310     Undefined

In [87]:
row2 = df2.iloc[125:130]
print(row2)

             keyword   shows     region
125  школьный портал  982692  Undefined
126  вк моя страница  979105  Undefined
127     авито москва  979292      Центр
128      спортмастер  968154  Undefined
129  новости украины  965720  Undefined

### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [118]:
df_movies = pd.read_csv('ml-latest-small/movies.csv')
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [119]:
df_ratings = pd.read_csv('ml-latest-small/ratings.csv')
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [120]:
years = list(range(1950,2011))
print(years)

[1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010]

In [121]:
yearslist = list(map(str, years))
print(yearslist)

['1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010']

In [122]:
import re

In [123]:
df_movies['year_sep'] = df_movies['title'].str.extract('((?<=\()\d{4})')
df_movies.sort_values('year_sep').head()

,movieId,title,genres,year_sep
5868,32898,"Trip to the Moon, A (Voyage dans la lune, Le) ...",Action|Adventure|Fantasy|Sci-Fi,1902
6355,49389,The Great Train Robbery (1903),Crime|Western,1903
9020,140541,The Electric Hotel (1908),Animation|Comedy|Sci-Fi,1908
4743,7065,"Birth of a Nation, The (1915)",Drama|War,1915
8170,102747,"Rink, The (1916)",Comedy,1916

In [127]:
def production_year (df):
    if df['year_sep'] in yearslist:
        return df['year_sep']
    else:
        return '1900'

In [128]:
df_movies['year'] = df_movies.apply(production_year, axis = 1)
df_movies.sort_values('year').head()

,movieId,title,genres,year_sep,year
7962,96283,Diary of a Wimpy Kid: Dog Days (2012),Children|Comedy,2012,1900
3590,4921,Little Women (1933),Drama|Romance,1933,1900
3589,4920,"Now, Voyager (1942)",Drama|Romance,1942,1900
4739,7061,Dark Victory (1939),Drama|Romance,1939,1900
8028,97988,"Bay, The (2012)",Horror|Sci-Fi|Thriller,2012,1900

In [129]:
joined = df_ratings.merge(df_movies, how = 'left', on = 'movieId')
joined.loc[:, ['rating', 'year']].head()

   rating  year
0     4.0  1995
1     4.0  1995
2     4.0  1995
3     5.0  1995
4     5.0  1995

In [130]:
joined.groupby('year').mean('rating').sort_values('rating', ascending = False).head()

          userId      movieId    rating     timestamp
year
1957  315.865116  3012.213953  4.039535  1.178092e+09
1954  315.735294  2426.022059  4.009191  1.159430e+09
1962  328.343511  4645.015267  3.969466  1.145154e+09
1952  356.708333  2687.718750  3.953125  1.156213e+09
1964  321.351064  4900.795213  3.940160  1.180442e+09

#### Получается,что раньше публика была лояльнее к фильмам или они были лучше :)