# Домашнее задание «Функции и работа с данными»
Важно! При копировании юпитер ноутбука изменяет кавычки ’ на ` , что может способствовать ошибки в коде.   
В данной ситуации необходимо их просто заменить.

### Задание 1
#### Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [45]:
df1 = pd.read_csv('ml-latest-small/ratings.csv')
df1.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [47]:
def ratings (statistics):
    if statistics['rating'] <= 2.0:
        return 'Низкий рейтинг'
    elif statistics['rating'] <= 4.0:
        return 'Средний рейтинг'
    else:
        return 'Высокий рейтинг'

In [48]:
df1['class'] = df1.apply(ratings, axis = 1)
df1.head()

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  Средний рейтинг
1       1        3     4.0  964981247  Средний рейтинг
2       1        6     4.0  964982224  Средний рейтинг
3       1       47     5.0  964983815  Высокий рейтинг
4       1       50     5.0  964982931  Высокий рейтинг

### Задание 2
Используем файл keywords.csv.
Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
 
 }

Результат классификации запишите в отдельный столбец region.

In [72]:
df2 = pd.read_csv('ml-latest-small/keywords.csv')
df2.tail()

                       keyword  shows
99995   эльдорадо старый оскол   3705
99996      frigate для firefox   3630
99997                   укрсиб   3630
99998  погода в ялте на неделю   3688
99999                     ггму   3630

In [63]:
def geo(dataframe):
    if  ('москва'or 'тула' or'ярославль') in dataframe['keyword']:
        return 'Центр'
    elif ('петербург'or 'псков' or'мурманск') in dataframe['keyword']:
        return 'Северо-Запад'
    elif ('владивосток'or 'сахалинн' or'хабаровск') in dataframe['keyword']:
        return 'Дальний Восток'
    else:
        return 'Undefined'

In [71]:
df2['region'] = df2.apply(geo, axis = 1)
row = df2.iloc[370:380]
print (row)

                      keyword   shows        region
370  авито ру санкт петербург  425134  Северо-Запад
371               игры онлайн  588264     Undefined
372     авито нижний новгород  421310     Undefined
373                      циан  420257     Undefined
374                  приват24  420065     Undefined
375                     rutor  419496     Undefined
376     притяжение фильм 2017  415091     Undefined
377               где посылка  416275     Undefined
378              пасьянс паук  467823     Undefined
379          волчонок 6 сезон  416781     Undefined

### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга